<h1>Hola <%= @t_username %> </h1>
<h2>Hay una nueva notificacion de seguridad</h2>
<p>Las autoridades han mejorado la seguridad en una zona cercana de donde tu reportaste un crimen</p>
<p>para ir a la página principal sigue este link <%= @url %> </p>
<p>Atentamente</p>
<p>Safe and Sound team.</p>