
<h5>Comentarios:</h5>
<% commentable.comments.each do |comment|%>
        <div class="divider"></div>
          <div class="section">
            <h6> <%=comment.user.username%></h6>
            <p><%=comment.body%></p>
          </div>
        
        <%end%>