<h1>Hola <%= @user.email %> </h1>
<h2>Bienvenido a Safe and sound</h2>
<p>Gracias por hacer parte de esta comunidad, ahora eres parte del cambio</p>
<p>para ir a la página principal sigue este link <%= @url %> </p>
<p>Atentamente</p>
<p>Safe and Sound team.</p>
