@font-face {
  font-family: 'Ubuntu', sans-serif;
  src: url(/assets/Ubuntu-R-52c1afa489ae7bfd893af6cdd9f1af258005703600449e70d338caabcff507e5.ttf) format("tryetype");
  font-weight: normal;
  font-style: normal;
}
