/* line 1, /home/ubuntu/workspace/SafeAndSound/app/assets/stylesheets/map_styles.sass */
.map_report {
  transition: 0.8s;
  height: 60vh;
  border-radius: 20px;
  margin-bottom: 50px;
}

/* line 7, /home/ubuntu/workspace/SafeAndSound/app/assets/stylesheets/map_styles.sass */
.map_user-panel {
  width: 100% !important;
  height: 100% !important;
}

/* line 11, /home/ubuntu/workspace/SafeAndSound/app/assets/stylesheets/map_styles.sass */
h1 {
  font-family: Ubuntu;
  font-weight: bold !important;
  text-transform: uppercase;
  font-size: 30px !important;
}

/* line 17, /home/ubuntu/workspace/SafeAndSound/app/assets/stylesheets/map_styles.sass */
#floating-panel {
  position: absolute;
  margin: 10px 120px;
  z-index: 5;
}
/* line 21, /home/ubuntu/workspace/SafeAndSound/app/assets/stylesheets/map_styles.sass */
#floating-panel .btn {
  margin-right: 15px;
}

/* line 24, /home/ubuntu/workspace/SafeAndSound/app/assets/stylesheets/map_styles.sass */
.ac_red {
  background-color: #f24b4b !important;
  transition: 0.5s;
}
