/* line 1, /home/spenas/Documentos/progressio/SafeAndSound/app/assets/stylesheets/map_styles.sass */
.map_report {
  transition: 0.8s;
  height: 50vh;
  border-radius: 20px;
}

/* line 6, /home/spenas/Documentos/progressio/SafeAndSound/app/assets/stylesheets/map_styles.sass */
.map_user-panel {
  width: 100% !important;
  height: 100% !important;
}

/* line 10, /home/spenas/Documentos/progressio/SafeAndSound/app/assets/stylesheets/map_styles.sass */
h1 {
  font-family: Ubuntu;
  font-weight: bold !important;
  text-transform: uppercase;
  font-size: 30px !important;
}
