<%= render "layouts/user-panel" %>
<div class="content main">
    <div class="container">
        <h1>User settings</h1>

        <%= render 'form', user: @user %>
        <%= link_to 'Back', user_path, class: "btn", style: "margin-top:10px"%>

    </div>
</div>
