<div class="side-nav-report">
    <button id="expand_icon2"class="" >

        <i class="small material-icons" id = "closeicon">close</i>
    </button>
    <div class="row">

        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s4"><a class = "tabreport"  href="#test1"><i class="material-icons small tab_icons">record_voice_over</i> </a></a></li>
                <li class="tab col s4"><a class = "tabreport"  href="#test2"><i class="material-icons small tab_icons">error</i></a></a></li>
                <li class="tab col s4"><a class = "tabreport"  href="#test3"><i class="material-icons small tab_icons">map
                </i></a></a></li>
            </ul>
        </div>
    </div>

    <div id ="listapanel">

        <div class="cont_elements">
            <div id="test1" class="col s12">
                <div class = "suspect_list">
                    <div id="suspects">
                        <%= render @suspects %>
                    </div>


                    <div id="infinite-scrolling-suspects">
                        <%= will_paginate @suspects%>
                    </div>

                </div>
            </div>


            <div id="test2" class="col s12">
                <div class = "report_list">
                    <div id="reports">
                        <%= render @reports %>
                    </div>


                    <div id="infinite-scrolling-reports">
                        <%= will_paginate @reports%>
                    </div>
                </div>
            </div>


            <div id="test3" class="col s12">
                <div class = "transport_list">
                   <!--   <select id="type" onchange="filterMarkers(this.value);">
                        <option value="">Filtrar reportes</option>
                        <option value="Raponazo">Raponazo</option>
                        <option value="Robo violento">Robo violento</option>
                        <option value="Asesinato">Asesinato</option>
                        <option value="Estafa">Estafa</option>
                        <option value="Sospechoso">Sospechoso</option>
                    </select>                                                    -->
                      <div class="filtros">
                          <div><p><b>Filtrar por tipo de crimen:</b></p></div>
                        <input type="checkbox" id="sospechoso"value="Sospechoso" checked="checked" />
                        <label for="sospechoso">Sospechoso</label>
                        <input type="checkbox" id="Raponazo"value="Raponazo" checked="checked"  />
                        <label for="Raponazo">Raponazo</label>
                        <input type="checkbox" id="Robo violento"value="Robo violento"  checked="checked"  />
                        <label for="Robo violento">Robo violento</label>
                        <input type="checkbox" id="Asesinato"value="Asesinato"  checked="checked" />
                        <label for="Asesinato">Asesinato</label>
                        <input type="checkbox" id="Estafa"value="Estafa"  checked="checked"  />
                        <label for="Estafa">Estafa</label>
                        <br></br>
                         <div><p><b>Filtrar por modo en que se produjo el crimen:</b></p></div>
                         <input type="checkbox" id="carro"value="carro"  checked="checked"  />
                        <label for="carro">Conduciendo</label>
                         <input type="checkbox" id="bicicleta"value="bicicleta"  checked="checked"  />
                        <label for="bicicleta">Andando en bicicleta</label>
                         <input type="checkbox" id="peaton"value="peaton"  checked="checked"  />
                        <label for="peaton">Caminando</label>
                         <input type="checkbox" id="sitp"value="sitp"  checked="checked"  />
                        <label for="sitp">En un SITP</label>
                         <input type="checkbox" id="transmilenio"value="transmilenio"  checked="checked"  />
                        <label for="transmilenio">En un Transmilenio</label>
                         <input type="checkbox" id="taxi"value="taxi"  checked="checked"  />
                        <label for="taxi">En un Taxi</label>
                
                    
                    </div>
                </div>
            </div>


        </div>






    </div>
</div>
