<div class="container">

        <h1>Reportar</h1>
        <%= link_to image_tag("r_sospechoso.png", class: "img_card"), new_suspect_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => "#modal1"} %>
        <%= link_to image_tag("r_crimen.png", class: "img_card"), report_mode_url, {:remote => true, 'data-toggle' => "modal", 'data-target' => "#modal1"} %>

</div>
