 <li>
                     <div class="card horizontal">
                          <div class="card-image">
                             <img src="assets/sospechoso.png">
                             @<%= suspect.user.username%> <br></br>
                                    <%=time_ago_in_words(suspect.created_at)%>
                          </div>
                      <div class="card-stacked">
                            <div class="card-content">
                              <p> <%= suspect.details.split.first(7).join(' ')%>...</p>
                            </div>
                            <div class="card-action">
                              <a  href="<%=suspect_path(suspect.id)%>">Ver Reporte</a>
                            </div>
                      </div>
                      
                  </div>
                </li>