<%= render "layouts/user-panel" %>

<div class="main content">
    <div class="container">

        <h1>Reportar</h1>
        <%= link_to image_tag("r_sospechoso.png", class: "img_card"), new_suspect_path %>
        <%= link_to image_tag("r_crimen.png", class: "img_card"), report_mode_url %>

    </div>
</div>
