<%= render "layouts/user-panel"%>

<div class="main content">
    <div class="container">
        <h1>Statistics</h1>

        <h5>Crime reports</h5>


        <canvas id="report_chart"></canvas>
        <canvas id="suspectReport_chart"></canvas>

        <script> var reports = <%= @reports %>; </script>
        <%= javascript_include_tag "statistics/statistics" %>
    </div>
</div>
