// Place all the styles related to the Discussions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pagination {
    display: inline-block;
}

.pagination a, .pagination em,, .pagination span , .bontonnormal{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    border-radius: 5px;
}

.pagination a.active,.pagination span{
    background-color: #26a69a;
    color: white;
    border: 1px solid #26a69a;
}
.pagination .current {
    background-color: #26a69a;
    color: white;
    border: 1px solid #26a69a;
}

.bontonnormal {
    background: #5290ed;
    color: white;
}

.bontonnormal:hover {
    background: #74a1c6;
}


.pagination span {
    background-color: #ddd;
    color: white;
    border: 1px solid #ddd;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
