<div class="container">
    <h1>Create a new report</h1>

    <%= render 'form', report: @report %>
    <div class="custom_margin">
        <%= link_to 'Back', user_panel_path, class: "btn btn-small" %>
    </div>

</div>
